.contact-container {
  display: flex;
}

.contact-form {
  flex: 1;
  padding: 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Raleway', sans-serif;
  overflow-y: auto;
  border-left: 10px solid var(--primary-color);
  border-right: 10px solid var(--primary-color);
}

.google-map {
  flex: 1;
  /* Define styles for your Google Map container here */
  /* e.g., height, background, etc. */
}

/* Rest of your CSS for contact form can remain the same */
/* ... */